
//**********************
//Defining the variables
//List of pre-req courses
variable cs240 (G P F N)
variable cs251 (G P F N)
variable cs341 (G P F N)
variable cs350 (G P F N)

//List of elective courses
variable cs343 (G P F N)
variable cs448 (G P F N)
variable cs370 (G P F N)
variable cs372 (G P F N)

//Observation and Book keeping variables
variable term_count (0 1 2 3 4)
variable course_count (0 1 2 3 4 5 6)
variable area1 (N Y)
variable area2 (N Y)
variable area3 (N Y)
variable cgpa (G P F)

//Utility variables
variable area_reward (0 1000)
variable course_reward (0 1000)
//variable cgpa_reward (-999999 1)

//*****************
//Define the priors
//Define the priors for the pre-reqs
dd prior_cs240
	(cs240=G)
enddd

dd prior_cs251
	(cs251=G)
enddd

dd prior_cs341
	(cs341=G)
enddd

dd prior_cs350
	(cs350=P)
enddd

//Define the priors for the electives
dd prior_cs343
	(cs343=N)
enddd

dd prior_cs448
	(cs448=N)
enddd

dd prior_cs370
	(cs370=N)
enddd

dd prior_cs372
	(cs372=N)
enddd

//Define the priors for observation/book-keeping/utility variables
dd prior_term_count
	(term_count = 0)
enddd
dd prior_course_count
	(course_count = 0)
enddd

dd prior_area1
	(area1=N)
enddd

dd prior_area2
	(area2=N)
enddd

dd prior_area3
	(area3=N)
enddd

dd prior_cgpa
	(cgpa=G)
enddd

dd prior_area_reward
	(area_reward=0)
enddd

dd prior_course_reward
	(course_reward=0)
enddd

//dd prior_cgpa_reward
	//(cgpa_reward=0)
//enddd

dd pass0
	(course_count	(0	(course_count'=0))
				(1	(course_count'=1))
				(2	(course_count'=2))
				(3	(course_count'=3))
				(4	(course_count'=4))
				(5	(course_count'=5))
				(6	(course_count'=6)))
enddd

dd pass1
	(course_count	(0	(course_count'=1))
				(1	(course_count'=2))
				(2	(course_count'=3))
				(3	(course_count'=4))
				(4	(course_count'=5))
				(5	(course_count'=6))
				(6	(course_count'=6)))
enddd

dd pass2
	(course_count	(0	(course_count'=2))
				(1	(course_count'=3))
				(2	(course_count'=4))
				(3	(course_count'=5))
				(4	(course_count'=6))
				(5	(course_count'=6))
				(6	(course_count'=6)))
enddd

dd termCPT

//Increasing the number of terms
(term_count	(0	(term_count'=1))
		(1	(term_count'=2))
		(2	(term_count'=3))
		(3	(term_count'=4))
		(4	(term_count'=4)))
enddd

//**********************
//Defining the actions
variable action ( act_cs343cs448 act_cs343cs370 act_cs343cs372 act_cs448cs370 act_cs448cs372 act_cs370cs372)
//*********************************
//Defining the CPTs for the actions

//dd act_cs343cs448

dd cs343_act_cs343cs448
(cs350	(G	(cgpa	(G	(cs343' (G(0.8)) (P(0.15)) (F(0.05)) (N(0)) ))
			(P	(cs343' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(F	(cs343' (G(0.4)) (P(0.3)) (F(0.3)) (N(0)) )) ))
		(P	(cgpa	(G	(cs343' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(P	(cs343' (G(0.5)) (P(0.4)) (F(0.1)) (N(0)) ))
			(F	(cs343' (G(0.2)) (P(0.4)) (F(0.4)) (N(0)) )) ))
		(ALLOTHERS	(cgpa	(G	(cs343' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(P	(cs343' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(F	(cs343' (G(0)) (P(0)) (F(0)) (N(1)) )) )))
enddd

dd cs448_act_cs343cs448
(cs240	(G	(cgpa	(G	(cs448' (G(0.8)) (P(0.15)) (F(0.05)) (N(0)) ))
			(P	(cs448' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(F	(cs448' (G(0.4)) (P(0.3)) (F(0.3)) (N(0)) )) ))
		(P	(cgpa	(G	(cs448' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(P	(cs448' (G(0.5)) (P(0.4)) (F(0.1)) (N(0)) ))
			(F	(cs448' (G(0.2)) (P(0.4)) (F(0.4)) (N(0)) )) ))
		(ALLOTHERS	(cgpa	(G	(cs448' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(P	(cs448' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(F	(cs448' (G(0)) (P(0)) (F(0)) (N(1)) )) )))
enddd

dd course_count_act_cs343cs448

//Increasing the number of courses taken
(cs343	(P	(pass0))
		(G	(pass0))
		(ALLOTHERS	(cs448(G	(pass0))
					(P	(pass0))
					(ALLOTHERS	(cs343'	(F		(cs448'	(F		(pass0))
													(N		(pass0))
													(ALLOTHERS	(pass1))))
									(N	(pass0))
(ALLOTHERS	(cs448'	(F		(pass1))
								(N	(pass0))
								(ALLOTHERS	(pass2)))))))))
enddd

dd area1_act_cs343cs448

//Increasing the area count
(area1	(N	(cs343'	(F		(area1'=N))
					(N	(area1'=N))
					(ALLOTHERS	(area1'=Y))))
		(Y	(area1'=Y)))
enddd

dd area2_act_cs343cs448

//Increasing the area count
(area2	(N	(cs448'	(F		(area2'=N))
					(N	(area2'=N))
					(ALLOTHERS	(area2'=Y))))
		(Y	(area2'=Y)))
enddd

//dd act_cs343cs370

dd cs343_act_cs343cs370
(cs350	(G	(cgpa	(G	(cs343' (G(0.8)) (P(0.15)) (F(0.05)) (N(0)) ))
			(P	(cs343' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(F	(cs343' (G(0.4)) (P(0.3)) (F(0.3)) (N(0)) )) ))
		(P	(cgpa	(G	(cs343' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(P	(cs343' (G(0.5)) (P(0.4)) (F(0.1)) (N(0)) ))
			(F	(cs343' (G(0.2)) (P(0.4)) (F(0.4)) (N(0)) )) ))
		(ALLOTHERS	(cgpa	(G	(cs343' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(P	(cs343' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(F	(cs343' (G(0)) (P(0)) (F(0)) (N(1)) )) )))
enddd

dd cs370_act_cs343cs370
(cs251	(G	(cgpa	(G	(cs370' (G(0.8)) (P(0.15)) (F(0.05)) (N(0)) ))
			(P	(cs370' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(F	(cs370' (G(0.4)) (P(0.3)) (F(0.3)) (N(0)) )) ))
		(P	(cgpa	(G	(cs370' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(P	(cs370' (G(0.5)) (P(0.4)) (F(0.1)) (N(0)) ))
			(F	(cs370' (G(0.2)) (P(0.4)) (F(0.4)) (N(0)) )) ))
		(ALLOTHERS	(cgpa	(G	(cs370' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(P	(cs370' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(F	(cs370' (G(0)) (P(0)) (F(0)) (N(1)) )) )))
enddd

dd course_count_act_cs343cs370

//Increasing the number of courses taken
(cs343	(P	(pass0))
		(G	(pass0))
		(ALLOTHERS	(cs370(G	(pass0))
					(P	(pass0))
					(ALLOTHERS	(cs343'	(F		(cs370'	(F		(pass0))
													(N		(pass0))
													(ALLOTHERS	(pass1))))
									(N	(pass0))
(ALLOTHERS	(cs370'	(F		(pass1))
								(N	(pass0))
								(ALLOTHERS	(pass2)))))))))
enddd

dd area1_act_cs343cs370

//Increasing the area count
(area1	(N	(cs343'	(F		(area1'=N))
					(N	(area1'=N))
					(ALLOTHERS	(area1'=Y))))
		(Y	(area1'=Y)))
enddd

dd area3_act_cs343cs370

//Increasing the area count
(area3	(N	(cs370'	(F		(area3'=N))
					(N	(area3'=N))
					(ALLOTHERS	(area3'=Y))))
		(Y	(area3'=Y)))
enddd

//dd act_cs343cs372

dd cs343_act_cs343cs372
(cs350	(G	(cgpa	(G	(cs343' (G(0.8)) (P(0.15)) (F(0.05)) (N(0)) ))
			(P	(cs343' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(F	(cs343' (G(0.4)) (P(0.3)) (F(0.3)) (N(0)) )) ))
		(P	(cgpa	(G	(cs343' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(P	(cs343' (G(0.5)) (P(0.4)) (F(0.1)) (N(0)) ))
			(F	(cs343' (G(0.2)) (P(0.4)) (F(0.4)) (N(0)) )) ))
		(ALLOTHERS	(cgpa	(G	(cs343' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(P	(cs343' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(F	(cs343' (G(0)) (P(0)) (F(0)) (N(1)) )) )))
enddd

dd cs372_act_cs343cs372
(cs370	(G	(cgpa	(G	(cs372' (G(0.8)) (P(0.15)) (F(0.05)) (N(0)) ))
			(P	(cs372' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(F	(cs372' (G(0.4)) (P(0.3)) (F(0.3)) (N(0)) )) ))
		(P	(cgpa	(G	(cs372' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(P	(cs372' (G(0.5)) (P(0.4)) (F(0.1)) (N(0)) ))
			(F	(cs372' (G(0.2)) (P(0.4)) (F(0.4)) (N(0)) )) ))
		(ALLOTHERS	(cgpa	(G	(cs372' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(P	(cs372' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(F	(cs372' (G(0)) (P(0)) (F(0)) (N(1)) )) )))
enddd

dd course_count_act_cs343cs372

//Increasing the number of courses taken
(cs343	(P	(pass0))
		(G	(pass0))
		(ALLOTHERS	(cs372(G	(pass0))
					(P	(pass0))
					(ALLOTHERS	(cs343'	(F		(cs372'	(F		(pass0))
													(N		(pass0))
													(ALLOTHERS	(pass1))))
									(N	(pass0))
(ALLOTHERS	(cs372'	(F		(pass1))
								(N	(pass0))
								(ALLOTHERS	(pass2)))))))))
enddd

dd area1_act_cs343cs372

//Increasing the area count
(area1	(N	(cs343'	(F		(area1'=N))
					(N	(area1'=N))
					(ALLOTHERS	(area1'=Y))))
		(Y	(area1'=Y)))
enddd

dd area3_act_cs343cs372

//Increasing the area count
(area3	(N	(cs372'	(F		(area3'=N))
					(N	(area3'=N))
					(ALLOTHERS	(area3'=Y))))
		(Y	(area3'=Y)))
enddd

//dd act_cs448cs370

dd cs448_act_cs448cs370
(cs240	(G	(cgpa	(G	(cs448' (G(0.8)) (P(0.15)) (F(0.05)) (N(0)) ))
			(P	(cs448' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(F	(cs448' (G(0.4)) (P(0.3)) (F(0.3)) (N(0)) )) ))
		(P	(cgpa	(G	(cs448' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(P	(cs448' (G(0.5)) (P(0.4)) (F(0.1)) (N(0)) ))
			(F	(cs448' (G(0.2)) (P(0.4)) (F(0.4)) (N(0)) )) ))
		(ALLOTHERS	(cgpa	(G	(cs448' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(P	(cs448' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(F	(cs448' (G(0)) (P(0)) (F(0)) (N(1)) )) )))
enddd

dd cs370_act_cs448cs370
(cs251	(G	(cgpa	(G	(cs370' (G(0.8)) (P(0.15)) (F(0.05)) (N(0)) ))
			(P	(cs370' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(F	(cs370' (G(0.4)) (P(0.3)) (F(0.3)) (N(0)) )) ))
		(P	(cgpa	(G	(cs370' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(P	(cs370' (G(0.5)) (P(0.4)) (F(0.1)) (N(0)) ))
			(F	(cs370' (G(0.2)) (P(0.4)) (F(0.4)) (N(0)) )) ))
		(ALLOTHERS	(cgpa	(G	(cs370' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(P	(cs370' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(F	(cs370' (G(0)) (P(0)) (F(0)) (N(1)) )) )))
enddd

dd course_count_act_cs448cs370

//Increasing the number of courses taken
(cs448	(P	(pass0))
		(G	(pass0))
		(ALLOTHERS	(cs370(G	(pass0))
					(P	(pass0))
					(ALLOTHERS	(cs448'	(F		(cs370'	(F		(pass0))
													(N		(pass0))
													(ALLOTHERS	(pass1))))
									(N	(pass0))
(ALLOTHERS	(cs370'	(F		(pass1))
								(N	(pass0))
								(ALLOTHERS	(pass2)))))))))
enddd

dd area2_act_cs448cs370

//Increasing the area count
(area2	(N	(cs448'	(F		(area2'=N))
					(N	(area2'=N))
					(ALLOTHERS	(area2'=Y))))
		(Y	(area2'=Y)))
enddd

dd area3_act_cs448cs370

//Increasing the area count
(area3	(N	(cs370'	(F		(area3'=N))
					(N	(area3'=N))
					(ALLOTHERS	(area3'=Y))))
		(Y	(area3'=Y)))
enddd

//dd act_cs448cs372

dd cs448_act_cs448cs372
(cs240	(G	(cgpa	(G	(cs448' (G(0.8)) (P(0.15)) (F(0.05)) (N(0)) ))
			(P	(cs448' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(F	(cs448' (G(0.4)) (P(0.3)) (F(0.3)) (N(0)) )) ))
		(P	(cgpa	(G	(cs448' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(P	(cs448' (G(0.5)) (P(0.4)) (F(0.1)) (N(0)) ))
			(F	(cs448' (G(0.2)) (P(0.4)) (F(0.4)) (N(0)) )) ))
		(ALLOTHERS	(cgpa	(G	(cs448' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(P	(cs448' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(F	(cs448' (G(0)) (P(0)) (F(0)) (N(1)) )) )))
enddd

dd cs372_act_cs448cs372
(cs370	(G	(cgpa	(G	(cs372' (G(0.8)) (P(0.15)) (F(0.05)) (N(0)) ))
			(P	(cs372' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(F	(cs372' (G(0.4)) (P(0.3)) (F(0.3)) (N(0)) )) ))
		(P	(cgpa	(G	(cs372' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(P	(cs372' (G(0.5)) (P(0.4)) (F(0.1)) (N(0)) ))
			(F	(cs372' (G(0.2)) (P(0.4)) (F(0.4)) (N(0)) )) ))
		(ALLOTHERS	(cgpa	(G	(cs372' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(P	(cs372' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(F	(cs372' (G(0)) (P(0)) (F(0)) (N(1)) )) )))
enddd

dd course_count_act_cs448cs372

//Increasing the number of courses taken
(cs448	(P	(pass0))
		(G	(pass0))
		(ALLOTHERS	(cs372(G	(pass0))
					(P	(pass0))
					(ALLOTHERS	(cs448'	(F		(cs372'	(F		(pass0))
													(N		(pass0))
													(ALLOTHERS	(pass1))))
									(N	(pass0))
(ALLOTHERS	(cs372'	(F		(pass1))
								(N	(pass0))
								(ALLOTHERS	(pass2)))))))))
enddd

dd area2_act_cs448cs372

//Increasing the area count
(area2	(N	(cs448'	(F		(area2'=N))
					(N	(area2'=N))
					(ALLOTHERS	(area2'=Y))))
		(Y	(area2'=Y)))
enddd

dd area3_act_cs448cs372

//Increasing the area count
(area3	(N	(cs372'	(F		(area3'=N))
					(N	(area3'=N))
					(ALLOTHERS	(area3'=Y))))
		(Y	(area3'=Y)))
enddd

//dd act_cs370cs372

dd cs370_act_cs370cs372
(cs251	(G	(cgpa	(G	(cs370' (G(0.8)) (P(0.15)) (F(0.05)) (N(0)) ))
			(P	(cs370' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(F	(cs370' (G(0.4)) (P(0.3)) (F(0.3)) (N(0)) )) ))
		(P	(cgpa	(G	(cs370' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(P	(cs370' (G(0.5)) (P(0.4)) (F(0.1)) (N(0)) ))
			(F	(cs370' (G(0.2)) (P(0.4)) (F(0.4)) (N(0)) )) ))
		(ALLOTHERS	(cgpa	(G	(cs370' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(P	(cs370' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(F	(cs370' (G(0)) (P(0)) (F(0)) (N(1)) )) )))
enddd

dd cs372_act_cs370cs372
(cs370	(G	(cgpa	(G	(cs372' (G(0.8)) (P(0.15)) (F(0.05)) (N(0)) ))
			(P	(cs372' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(F	(cs372' (G(0.4)) (P(0.3)) (F(0.3)) (N(0)) )) ))
		(P	(cgpa	(G	(cs372' (G(0.7)) (P(0.25)) (F(0.05)) (N(0)) ))
			(P	(cs372' (G(0.5)) (P(0.4)) (F(0.1)) (N(0)) ))
			(F	(cs372' (G(0.2)) (P(0.4)) (F(0.4)) (N(0)) )) ))
		(ALLOTHERS	(cgpa	(G	(cs372' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(P	(cs372' (G(0)) (P(0)) (F(0)) (N(1)) ))
			(F	(cs372' (G(0)) (P(0)) (F(0)) (N(1)) )) )))
enddd

dd course_count_act_cs370cs372

//Increasing the number of courses taken
(cs370	(P	(pass0))
		(G	(pass0))
		(ALLOTHERS	(cs372(G	(pass0))
					(P	(pass0))
					(ALLOTHERS	(cs370'	(F		(cs372'	(F		(pass0))
													(N		(pass0))
													(ALLOTHERS	(pass1))))
									(N	(pass0))
(ALLOTHERS	(cs372'	(F		(pass1))
								(N	(pass0))
								(ALLOTHERS	(pass2)))))))))
enddd

dd area3_act_cs370cs372

//Increasing the area count
(area3	(N	(cs370'	(F		(area3'=N))
					(N	(area3'=N))
					(ALLOTHERS	(area3'=Y))))
		(Y	(area3'=Y)))
enddd

//*********************************
//Defining the CPTs for the utility variables
//CPTs for completing areas
dd area_rewardCPT
  (term_count' (3               (area1' (Y (area2' (Y (area3' (Y (area_reward'=1000)) (N (area_reward'=0))))
                               (N (area_reward'=0))))
                     (N (area_reward'=0))))
              (ALLOTHERS (area_reward'=0))) enddd

//CPTs for completing courses
dd course_rewardCPT
 (term_count' (3    (course_count'	(6	(course_reward'=1000))
			   (ALLOTHERS	(course_reward'=0))))
  (ALLOTHERS (course_reward'=0)))
enddd

//**************
//Define the MDP
mdp advisorMDP
//observation variables
observable (  cs343 cs448 cs370 cs372 cs240 cs251 cs341 cs350 term_count course_count area1 area2 area3 area_reward course_reward cgpa)
//controllable variables
controllable (action)
//utility variables
utility (area_reward course_reward)
//cgpa_reward
//priors
cs240 (prior_cs240)
cs251 (prior_cs251)
cs341 (prior_cs341)
cs350 (prior_cs350)
cs343 (prior_cs343)
cs448 (prior_cs448)
cs370 (prior_cs370)
cs372 (prior_cs372)
term_count (prior_term_count)
course_count (prior_course_count)
area1 (prior_area1)
area2 (prior_area2)
area3 (prior_area3)
cgpa (prior_cgpa)
//cpts
//cpts for pre-req courses that dont change
cs240' (cs240'=cs240)
cs251' (cs251'=cs251)
cs341' (cs341'=cs341)
cs350' (cs350'=cs350)
//cpts for elective courses
cs343'	(action
			(act_cs343cs448	(cs343_act_cs343cs448))
			(act_cs343cs370	(cs343_act_cs343cs370))
			(act_cs343cs372	(cs343_act_cs343cs372))
			(ALLOTHERS 		(cs343'=cs343)))
cs448'	(action
			(act_cs343cs448	(cs448_act_cs343cs448))
			(act_cs448cs370	(cs448_act_cs448cs370))
			(act_cs448cs372	(cs448_act_cs448cs372))
			(ALLOTHERS 		(cs448'=cs448)))
cs370'	(action
			(act_cs343cs370	(cs370_act_cs343cs370))
			(act_cs448cs370	(cs370_act_cs448cs370))
			(act_cs370cs372	(cs370_act_cs370cs372))
			(ALLOTHERS 		(cs370'=cs370)))
cs372'	(action
			(act_cs343cs372	(cs372_act_cs343cs372))
			(act_cs448cs372	(cs372_act_cs448cs372))
			(act_cs370cs372	(cs372_act_cs370cs372))
			(ALLOTHERS 		(cs372'=cs372)))

//cpts for other variables
//cpt for gpa
cgpa' (cgpa'=cgpa)
//cpt for term_count
term_count'	(action' (ALLOTHERS (termCPT)))
//cpt for course_count
course_count'	(action
				(act_cs343cs448	(course_count_act_cs343cs448))
				(act_cs343cs370	(course_count_act_cs343cs370))
				(act_cs343cs372	(course_count_act_cs343cs372))
				(act_cs448cs370	(course_count_act_cs448cs370))
				(act_cs448cs372	(course_count_act_cs448cs372))
				(act_cs370cs372	(course_count_act_cs370cs372))
				(ALLOTHERS 	(course_count'=course_count)))
//cpt for areas
area1' (action
			(act_cs343cs448	(area1_act_cs343cs448))
			(act_cs343cs370	(area1_act_cs343cs370))
			(act_cs343cs372	(area1_act_cs343cs372))
			(ALLOTHERS 	(area1'=area1)))
area2' (action
			(act_cs343cs448	(area2_act_cs343cs448))
			(act_cs448cs370	(area2_act_cs448cs370))
			(act_cs448cs372	(area2_act_cs448cs372))
			(ALLOTHERS 	(area2'=area2)))
area3' (action
			(act_cs343cs370	(area3_act_cs343cs370))
			(act_cs343cs372	(area3_act_cs343cs372))
			(act_cs448cs370	(area3_act_cs448cs370))
			(act_cs448cs372	(area3_act_cs448cs372))
			(act_cs370cs372	(area3_act_cs370cs372))
			(ALLOTHERS 	(area3'=area3)))
//cpts for reward variables
area_reward' (area_rewardCPT)
course_reward' (course_rewardCPT)
//cgpa_reward' (cgpa_rewardCPT)
discount(1)
horizon(3)
endmdp
